section#post-list {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}

section#post-list article {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
}

section#post-list article header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#post-list article header .user-info {
  display: flex;
  flex-direction: column;
}
